<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/question.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Help</title>
</head>
<body>
    {{>nav}}
    <div class="container">
        <h1>{{title}}</h1>
        <form action="/help/support">
            <input name="query" type="text" id="helpInput">
            <button type="submit" id="help-btn">get help</button>
        </form>
        <div>{{helpText}}</div>
        <div class="my-4">
            <h3>Contact Developer</h3>
            <h5>drop an email at: 20je0649@pe.iitism.ac.in</h5>
        </div>
    </div>
    {{>foot this}}
</body>
</html>